@import "tailwindcss";
/* @import "tw-animate-css"; */
/* @import "shadcn/tailwind.css"; */
@import "@questpie/admin/client/styles/index.css";

/* Scan admin package for Tailwind classes */
@source "../node_modules/@questpie/admin/";
